
#tooltip {
    background: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

/*animacion SVG*/

#einfo {
    animation: redeye 2s infinite alternate;
}

@keyframes redeye {
    to {
        fill: #ff5555;
    }
}


#eanti {
    animation: orangeeye 2s infinite alternate;
}
@keyframes orangeeye {
    to {
        fill: #ff8f00;
    }
}

/* FIN FIN animacion SVG*/

/*animacion svg Planetario*/
#eplane {
    animation: plomoeeye 1s infinite alternate;
}
@keyframes plomoeeye {
    to {
        fill: #e45300;
    }
}
/*FIN FIN  animacion svg Planetario*/


/*edif informatica*/
body {
    background-image: url("../../images/fondoweb2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}