body {
    background: url("../../images/fondo_opti.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.efectomarvi {
    transition: transform 1s;
}

.efectomarvi:hover {
    transform: translate3d(3px, 3px, 0px);
}

.efectomatu {
    transition: transform 1s;
}

.efectomatu:hover {
    transform: translate3d(-3px, -4px, 0px);
}

.efectoandrea {
    transition: transform 1s;
}

.efectoandrea:hover {
    transform: translate3d(3px, 3px, 0px);
}

.esquinasad {
    border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border: 0px solid #000000;
}

.textotitulo {
    color: #3a3a3a;
}

.textocuerpo {
    color: #5c5c5c;
}
.subrayadotextorange {
    text-decoration: underline #ff8f00;
}