<div class="blog-card spring-fever my-5" th:style="'background:url(' + @{'/images/' + ${predio.foto}} + ') center no-repeat;);'">
    <div class="title-content">
        <h3 th:text="${predio.nombrePredio}"><a href="#"></a></h3>
        <div class="intro"> <a href="#">...</a> </div>
    </div>
    <div class="card-info">
        <h4 th:text="${predio.descripcion}"></h4>
        <a target="_blank"  th:href="${predio.ubicacion}">Ubicación<i class="fa fa-map-marker" aria-hidden="true"></i></a>
    </div>
    <div class="utility-info">
        <ul class="utility-list">
            <li><span class="licon icon-dat"></span>Actualizado 05 Diciembre 2019</li>
            <li><span class="licon icon-tag"></span><a href="#">Fotos del predio</a></li>
        </ul>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
</div><!-- /.blog-card -->