<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="desing/desing.html :: head"></head>

<body>
    <header th:replace="desing/desing.html :: header"></header>
    <div class="jumbotron card card-image">
        <div class="text text-center py-5 px-4">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
                    <strong>Este es el sistema JAMM-JC</strong></h2>
                <p class="mx-5 mb-5">
                    Un sistema elaborado por:<br>Jesús Reynaldo Perez Benavides, <br>usando <br>Spring Boot
                    2.1.6.RELEASE, <br>spring 5, <br>Hibernate, <br>PostgreSQL, <br>JPA y <br>Thymeleaf.
                </p>
            </div>
        </div>
    </div>
    <footer th:replace="desing/desing.html :: footer"></footer>
</body>

</html>